<div
  class="article text-bg-dark pt-3 px-3 pt-md-5 px-md-5 rounded-3 text-center"
>
  <div class="my-3 py-3">
    <h2 class="display-5">{{ specificArticle?.title }}</h2>
    <p class="author lead gold-color opacity-75">Author name: {{ userName }}</p>
  </div>
  <div class="text-area bg-light shadow-sm mx-auto justify-content-center">
    <p class="text text-black">{{ specificArticle?.body }}</p>
  </div>

  <section class="p-4 w-100" style="border-radius: 0.5rem 0.5rem 0 0">
    <h3 class="d-block mb-2">Comments</h3>
    <div class="line"></div>
    <div
      *ngFor="let item of specificComments"
      class="row d-flex justify-content-center"
    >
      <div class="col-md-8 col-lg-6">
        <div
          class="card shadow-0 border mb-2"
          style="background-color: #f0f2f5"
        >
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                <span class="text-black"> {{ item?.body }} </span>
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                      alt="avatar"
                      width="25"
                      height="25"
                    />
                    <p class="text-black-50 small mb-0 ms-2">
                      {{ item?.name }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
