<ul class="scrollAble scroll-bar text-center mb-3 me-3">
  <li
    (click)="onSelect(item)"
    *ngFor="let item of articles; let i = index"
    class="p-5 mb-2 text-bg-dark rounded-3"
  >
    <h3
      *ngIf="i + 1 === articles.length"
      class="text-white text-decoration-none"
      #lastList
    >
      {{ item.title }}
    </h3>
    <h3
      *ngIf="i + 1 != articles.length"
      class="text-white text-decoration-none"
    >
      {{ item.title }}
    </h3>
    <p class="gold-color">
      {{ getAuthorName(item.user_id) }}
    </p>
  </li>
</ul>
